In [1]:
import rpy2.robjects as robjects
from rpy2.robjects import pandas2ri
import pandas as pd
import numpy as np

%load_ext rpy2.ipython

Error importing in API mode: ImportError('On Windows, cffi mode "ANY" is only "ABI".')
Trying to import in ABI mode.

In [2]:
%%R -o df_swimming
library(SwimmeR)
# Scrape the 2024 Olympic 100m Free Final
results <- read_results("https://www.omegatiming.com/File/00011800030101EE0101FFFFFFFFFF01.pdf")
df_swimming <- swim_parse(results, splits = TRUE)

Joining with `by = join_by(Row_Numb)`
Joining with `by = join_by(Row_Numb)`

Columns 'Prelims_Time' and 'Finals_Time' have been changed to 'Prelims' and 'Finals' respectively.  Please update your workflows.

In [3]:
df_swimming

,Place,Heat,Lane,Name,Team,Reaction_Time,Finals,DQ,Exhibition,Event,Split_50,Split_100,Split_150,Split_200
1,1,7,4,HOBSON Luke,LAKE,0.78,1:45.95,0,0,AM Men's 200m Freestyle Heats,24.69,26.75,27.13,27.38
2,2,5,2,PIERONI Blake,ISC,0.65,1:46.09,0,0,AM Men's 200m Freestyle Heats,24.95,26.78,26.94,27.42
3,3,7,5,KIBLER Drew,NYAC,0.61,1:46.39,0,0,AM Men's 200m Freestyle Heats,24.61,26.90,27.34,27.54
4,4,7,3,CURRY Brooks,CAL,0.65,1:46.49,0,0,AM Men's 200m Freestyle Heats,24.46,27.02,27.74,27.27
5,5,5,6,SAMMON Patrick,SUN,0.63,1:46.72,0,0,AM Men's 200m Freestyle Heats,24.82,26.98,27.39,27.53
6,6,6,4,SMITH Kieran,RAC,0.68,1:46.77,0,0,AM Men's 200m Freestyle Heats,24.85,27.16,27.42,27.34
7,7,5,3,CARROZZA Coby,TXLA,0.75,1:46.81,0,0,AM Men's 200m Freestyle Heats,25.06,26.92,27.39,27.44
8,8,3,8,DIEHL Daniel,WOLF,0.66,1:46.83,0,0,AM Men's 200m Freestyle Heats,25.09,26.77,27.49,27.48
9,9,6,5,MITCHELL Jake,FLOR,0.70,1:47.01,0,0,AM Men's 200m Freestyle Heats,24.82,27.09,27.61,27.49
10,10,4,6,GUILIANO Chris,ND,0.62,1:47.05,0,0,AM Men's 200m Freestyle Heats,23.94,27.22,27.84,28.05
11,10,5,5,SHACKELL Aaron,CSC-IN,0.67,1:47.05,0,0,AM Men's 200m Freestyle Heats,25.10,26.85,27.51,27.59
12,12,7,2,MAGAHEY Jake,SA,0.70,1:47.06,0,0,AM Men's 200m Freestyle Heats,25.23,26.98,27.47,27.38
13,13,4,4,ZHANG Wen,AFA,0.64,1:47.24,0,0,AM Men's 200m Freestyle Heats,24.69,27.00,27.41,28.14
14,14,6,3,NELSON Baylor,TAMU,0.66,1:47.25,0,0,AM Men's 200m Freestyle Heats,25.22,27.12,27.36,27.55
15,15,7,6,HOUSE Grant,SUN,0.63,1:47.35,0,0,AM Men's 200m Freestyle Heats,25.11,27.02,27.45,27.77
16,16,6,1,MAURER Rex,TXLA,0.71,1:47.39,0,0,AM Men's 200m Freestyle Heats,25.21,27.23,27.58,27.37
17,17,6,6,McFADDEN Henry,JW,0.68,1:47.40,0,0,AM Men's 200m Freestyle Heats,25.60,27.32,27.37,27.11
18,18,6,7,JETT Gabriel,CAL,0.66,1:47.56,0,0,AM Men's 200m Freestyle Heats,25.41,27.18,27.58,27.39
19,19,6,2,URLANDO Luca,DART,0.66,1:47.63,0,0,AM Men's 200m Freestyle Heats,24.88,27.02,27.55,28.18
20,20,5,8,COTTER Michael,TAC-NC,0.68,1:47.86,0,0,AM Men's 200m Freestyle Heats,24.89,27.05,27.94,27.98
21,21,5,7,DAHLGREN Jack,TRI,0.68,1:47.92,0,0,AM Men's 200m Freestyle Heats,24.82,26.81,27.74,28.55
22,22,7,1,HILL Julian,SUN,0.67,1:47.98,0,0,AM Men's 200m Freestyle Heats,24.95,26.85,28.08,28.10
23,23,1,2,McDONALD Owen,ISC,0.62,1:48.05,0,0,AM Men's 200m Freestyle Heats,24.68,27.00,28.26,28.11
24,24,4,7,FELT Dylan,SFTL,0.59,1:48.19,0,0,AM Men's 200m Freestyle Heats,25.05,26.97,27.76,28.41
25,25,3,5,JONES Keaton,CAL,0.75,1:48.23,0,0,AM Men's 200m Freestyle Heats,24.99,27.37,28.12,27.75
26,26,2,2,MEFFORD Colby,CAL,0.71,1:48.49,0,0,AM Men's 200m Freestyle Heats,25.58,27.07,27.61,28.23
27,27,2,8,HOOVER Sam,WOLF,0.61,1:48.60,0,0,AM Men's 200m Freestyle Heats,25.19,27.74,28.21,27.46
28,28,7,8,JULIAN Trenton,MVN,0.63,1:48.71,0,0,AM Men's 200m Freestyle Heats,24.89,27.01,28.24,28.57
29,29,4,3,MATHIAS Mason,AU,0.68,1:48.73,0,0,AM Men's 200m Freestyle Heats,25.68,27.31,27.83,27.91
30,30,5,1,MORRIS Chris,UW,0.64,1:48.77,0,0,AM Men's 200m Freestyle Heats,25.50,26.84,27.77,28.66
31,31,6,8,BURNS Brendan,ISC,0.65,1:48.82,0,0,AM Men's 200m Freestyle Heats,25.15,27.39,27.70,28.58
32,32,2,3,MIJATOVIC Luka,PLS,0.70,1:48.98,0,0,AM Men's 200m Freestyle Heats,26.03,27.65,27.96,27.34
33,33,3,7,BRANZELL Reese,ABSC,0.72,1:49.14,0,0,AM Men's 200m Freestyle Heats,25.39,27.13,28.40,28.22
34,34,4,1,HEILMAN Thomas,CA-Y,0.68,1:49.25,0,0,AM Men's 200m Freestyle Heats,25.61,27.52,28.18,27.94
35,35,1,7,WIMBERLY Jacob,MTRO,0.60,1:49.56,0,0,AM Men's 200m Freestyle Heats,25.42,27.62,27.74,28.78
36,36,4,5,ZHAO Jason,RAYSOH,0.59,1:49.82,0,0,AM Men's 200m Freestyle Heats,24.34,26.96,28.71,29.81
37,37,3,6,MYKKANEN Christopher,NOVACA,0.70,1:49.87,0,0,AM Men's 200m Freestyle Heats,25.58,27.46,28.34,28.49
38,38,1,4,HOAGLAND Jack,SMU,0.75,1:49.96,0,0,AM Men's 200m Freestyle Heats,25.85,27.77,28.27,28.07
39,39,2,4,HAMLIN Jacob,HIGH,0.72,1:50.05,0,0,AM Men's 200m Freestyle Heats,26.00,28.00,28.25,27.80
40,40,2,5,SHACKELL Andrew,CSC-IN,0.61,1:50.10,0,0,AM Men's 200m Freestyle Heats,25.56,27.95,28.31,28.28
41,41,3,1,HASKAL Manning,TXLA,0.68,1:50.29,0,0,AM Men's 200m Freestyle Heats,26.02,27.96,28.22,28.09
42,42,7,7,WILLIAMSON Maximus,LAC,0.64,1:50.31,0,0,AM Men's 200m Freestyle Heats,24.81,27.02,28.60,29.88
43,43,1,3,LANCASTER Kayden,UOFL,0.65,1:50.40,0,0,AM Men's 200m Freestyle Heats,25.99,27.60,28.44,28.37
44,43,3,4,PINFOLD Brett,SHAC,0.71,1:50.40,0,0,AM Men's 200m Freestyle Heats,25.71,28.06,28.58,28.05
45,45,1,6,MUELLER Chase,WOLF,0.76,1:50.47,0,0,AM Men's 200m Freestyle Heats,25.88,27.75,28.42,28.42
46,46,4,2,WINKLER Kaii,EA,0.69,1:50.54,0,0,AM Men's 200m Freestyle Heats,25.34,27.70,28.38,29.12
47,47,3,3,MAURER Luke,WILD,0.66,1:50.55,0,0,AM Men's 200m Freestyle Heats,26.11,28.24,28.47,27.73
48,48,1,5,McDONALD Cooper,DYNA,0.62,1:50.73,0,0,AM Men's 200m Freestyle Heats,25.29,27.75,28.44,29.25
49,48,4,8,HILS Zach,ABSC,0.67,1:50.73,0,0,AM Men's 200m Freestyle Heats,25.55,27.53,28.26,29.39
50,50,2,1,SUNGAIL Sage,SMU,0.62,1:51.30,0,0,AM Men's 200m Freestyle Heats,25.84,27.48,28.75,29.23
51,51,2,6,CYNOR Quinn,WDST,0.67,1:51.38,0,0,AM Men's 200m Freestyle Heats,25.83,27.64,28.51,29.40
52,52,3,2,CARUSO Nick,KYA,0.73,1:51.71,0,0,AM Men's 200m Freestyle Heats,26.31,27.64,28.79,28.97
53,53,2,7,GERMONPREZ Nate,TXLA,0.72,1:52.12,0,0,AM Men's 200m Freestyle Heats,25.41,27.77,29.03,29.91
54,54,1,1,FEEHERY Colin,SMU,0.77,1:52.93,0,0,AM Men's 200m Freestyle Heats,26.01,28.17,29.38,29.37
55,None,5,4,FOSTER Carson,RAYSOH,None,None,1,0,AM Men's 200m Freestyle Heats,None,None,None,None

In [9]:
olympic_df

,Name,Age,Team,Prelims,Finals,Points,DQ,Exhibition,Event,Split_50,...,Split_750,Split_800,Split_850,Split_900,Split_950,Split_1000,Split_1050,Split_1100,Split_1150,Split_1200
1,50m Freestyle,None,None,None,None,NaN,0.0,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
2,200m Freestyle,None,None,None,1:53.27,NaN,1.0,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
3,800m Freestyle,None,None,None,None,NaN,0.0,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
4,1500m Freestyle,None,None,None,None,NaN,0.0,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
5,100m Backstroke,None,None,None,None,NaN,0.0,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,200m Breaststroke,23,4,None,None,NaN,0.0,0.0,Event Event,None,...,None,None,None,None,None,None,None,None,None,None
299,100m Butterfly,32,9,None,None,NaN,0.0,0.0,Event Event,None,...,None,None,None,None,None,None,None,None,None,None
300,200m Butterfly,19,5,None,None,NaN,0.0,0.0,Event Event,None,...,None,None,None,None,None,None,None,None,None,None
301,200m Medley,34,7,None,None,NaN,0.0,0.0,Event Event,None,...,None,None,None,None,None,None,None,None,None,None
302,400m Medley,16,1,None,None,NaN,0.0,0.0,Event Event,None,...,None,None,None,None,None,None,None,None,None,None

In [23]:
%%R -o events -o phases -o results -o splits -o relay_members -o careers -o fina_join

file <- "https://github.com/adghayes/swimset/raw/master/data/fina.rda"
load(url(file)) # Use the 'raw' GitHub link
print(obj_name)

[1] "events"        "phases"        "results"       "splits"
[5] "relay_members" "careers"       "fina_join"

In [25]:
for name, df in {
    "events": events,
    "phases": phases,
    "results": results,
    "splits": splits,
    "relay_members": relay_members,
    "careers": careers,
}.items():
    print(f"\n{name}")
    print("Shape:", df.shape)
    print("Columns:", list(df.columns))

events
Shape: (10313, 14)
Columns: [np.str_('competition'), np.str_('gender'), np.str_('distance'), np.str_('style'), np.str_('relay'), np.str_('year'), np.str_('location_name'), np.str_('start_day'), np.str_('end_day'), np.str_('start_month'), np.str_('end_month'), np.str_('event_id'), np.str_('series'), np.str_('pool')]

phases
Shape: (39121, 10)
Columns: [np.str_('event_id'), np.str_('phase_id'), np.str_('phase_label'), np.str_('phase_html_id'), np.str_('phase_day'), np.str_('phase_month'), np.str_('phase_size'), np.str_('phase_type'), np.str_('dup'), np.str_('is_summary')]

results
Shape: (281310, 14)
Columns: [np.str_('result_id'), np.str_('phase_id'), np.str_('rank'), np.str_('heat_rank'), np.str_('ioc_code'), np.str_('time'), np.str_('time_behind'), np.str_('record_type'), np.str_('family_name'), np.str_('first_name'), np.str_('rt'), np.str_('points'), np.str_('status'), np.str_('str_time')]

splits
Shape: (771002, 4)
Columns: [np.str_('result_id'), np.str_('split'), np.str_('split_distance'), np.str_('leg')]

relay_members
Shape: (34828, 5)
Columns: [np.str_('result_id'), np.str_('family_name'), np.str_('first_name'), np.str_('rt'), np.str_('order')]

careers
Shape: (28063, 10)
Columns: [np.str_('first_name'), np.str_('family_name'), np.str_('n'), np.str_('first_year'), np.str_('last_year'), np.str_('year_range'), np.str_('longest_gap'), np.str_('end_gap'), np.str_('start_gap'), np.str_('countries')]

In [26]:
# 1. Merge phases with events
df = phases.merge(events, on="event_id", how="left")

# 2. Merge results
df = results.merge(df, on="phase_id", how="left")

# 3. Optional: add career info (join by name)
df = df.merge(
    careers,
    on=["first_name", "family_name"],
    how="left"
)

df

,result_id,phase_id,rank,heat_rank,ioc_code,time,time_behind,record_type,family_name,first_name,...,series,pool,n,first_year,last_year,year_range,longest_gap,end_gap,start_gap,countries
0,1,1,1,1,CHN,99.10,None,None,None,None,...,World Cup,25m,1,1986,1986,0,0.0,0.0,0.0,1
1,2,1,2,2,AUS,100.08,00.98,None,None,None,...,World Cup,25m,1,1986,1986,0,0.0,0.0,0.0,1
2,3,1,3,3,NED,100.99,01.89,None,None,None,...,World Cup,25m,1,1986,1986,0,0.0,0.0,0.0,1
3,4,1,4,4,GER,103.98,04.88,None,None,None,...,World Cup,25m,1,1986,1986,0,0.0,0.0,0.0,1
4,5,1,5,5,HKG,104.54,05.44,None,None,None,...,World Cup,25m,1,1986,1986,0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281305,447218,39121,41,41,ZIM,133.44,14.42,None,FOGARTY,Catherine Helen,...,Marathon Series,50m,3,2018,2018,0,0.0,2018.0,2018.0,1
281306,447219,39121,42,42,HKG,133.61,14.59,None,HUNG,Sze Ki Celeste,...,Marathon Series,50m,8,1991,2018,27,27.0,2018.0,1991.0,1
281307,447220,39121,43,43,FIJ,136.79,17.77,None,BIRCH,Angela,...,Marathon Series,50m,5,2018,2018,0,0.0,2018.0,2018.0,1
281308,447221,39121,44,44,FIJ,138.45,19.43,None,MUNCH,Cina,...,Marathon Series,50m,4,2018,2018,0,0.0,2018.0,2018.0,1
281309,447222,39121,-2147483648,-2147483648,LBN,NaN,None,None,KHALAF,Nancy,...,Marathon Series,50m,3,2018,2018,0,0.0,2018.0,2018.0,1

In [27]:
df.columns

Index(['result_id', 'phase_id', 'rank', 'heat_rank', 'ioc_code', 'time',
       'time_behind', 'record_type', 'family_name', 'first_name', 'rt',
       'points', 'status', 'str_time', 'event_id', 'phase_label',
       'phase_html_id', 'phase_day', 'phase_month', 'phase_size', 'phase_type',
       'dup', 'is_summary', 'competition', 'gender', 'distance', 'style',
       'relay', 'year', 'location_name', 'start_day', 'end_day', 'start_month',
       'end_month', 'series', 'pool', 'n', 'first_year', 'last_year',
       'year_range', 'longest_gap', 'end_gap', 'start_gap', 'countries'],
      dtype='object')

In [30]:
df_with_splits = df.merge(splits, on="result_id", how="left")
df_with_splits = df_with_splits[['rank', 'heat_rank', 'ioc_code', 'time', 'time_behind', 'family_name', 'first_name', 'rt', 'phase_size', 'gender', 'style', 'year']]

In [33]:
final_df = df_with_splits[df_with_splits['year'] > 2000]

In [35]:
final_df['year'].min()

np.int32(2001)

In [36]:
final_df

,rank,heat_rank,ioc_code,time,time_behind,family_name,first_name,rt,phase_size,gender,style,year
0,1,1,CHN,99.10,None,None,None,None,10,Mixed,Medley,2017
1,1,1,CHN,99.10,None,None,None,None,10,Mixed,Medley,2017
2,1,1,CHN,99.10,None,None,None,None,10,Mixed,Medley,2017
3,1,1,CHN,99.10,None,None,None,None,10,Mixed,Medley,2017
4,2,2,AUS,100.08,00.98,None,None,None,10,Mixed,Medley,2017
...,...,...,...,...,...,...,...,...,...,...,...,...
868885,44,44,FIJ,138.45,19.43,MUNCH,Cina,None,45,Women,Freestyle,2018
868886,44,44,FIJ,138.45,19.43,MUNCH,Cina,None,45,Women,Freestyle,2018
868887,44,44,FIJ,138.45,19.43,MUNCH,Cina,None,45,Women,Freestyle,2018
868888,44,44,FIJ,138.45,19.43,MUNCH,Cina,None,45,Women,Freestyle,2018
868889,-2147483648,-2147483648,LBN,NaN,None,KHALAF,Nancy,None,45,Women,Freestyle,2018